@media (max-width: 359px) {
    .TopMenu{
        height: 60px;
        background-color: #FFFFFF;
        width: 360px;
        .img{
            margin-top: 17px !important;
            margin-left: 16px !important;
            width: 104px !important;
            height: 26px !important;
        }
        .button{
            margin-top: 13px !important;
        }
        .btnSign{
            margin-right: 1px !important;
        }
    }
}
@media (min-width: 360px) {
    .TopMenu{
        height: 60px;
        background-color: #FFFFFF;
        .img{
            margin-top: 17px !important;
            margin-left: 16px !important;
            width: 104px !important;
            height: 26px !important;
        }
        .button{
            margin-top: 13px !important;
        }
        .btnSign{
            margin-right: 1px !important;
        }
    }
}
@media (min-width: 768px) {
    .TopMenu{
        height: 60px;
        background-color: #FFFFFF;
        .img{
            margin-top: 17px !important;
            margin-left: 32px !important;
            width: 104px !important;
            height: 26px !important;
        }
        .button{
            margin-top: 13px !important;
        }
        .btnSign{
            margin-right: 11px !important;
        }
    }
}

@media (min-width: 1024px) {
    .TopMenu{
        height: 60px;
        background-color: #FFFFFF;
        .img{
            margin-top: 17px !important;
            margin-left: 60px !important;
            width: 104px !important;
            height: 26px !important;
        }
        .button{
            margin-top: 13px !important;
        }
        .btnSign{
            margin-right: 39px !important;
        }
    }
}

@media (min-width: 2560px) {
    .TopMenu{
        background-color: #FFFFFF;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        
        padding-left: 635px !important;
        padding-right: 635px !important;

        .Content{
            background-color: #FFFFFF;
            .img{
                margin-top: 17px !important;
                width: 104px !important;
                height: 26px !important;
            }
            .button{
                margin-top: 13px !important;
            }
            .btnSign{
                margin-right: 39px !important;
            }
        }
    }
}